.card-align{
  padding-left: 70px;
}

.carimage{
  width: 250px;
  padding-left: 50px;
  padding-top: 10px;
  height: 120px;
}

@media only screen and (max-width: 688px) {
  .card-align{
    padding-left: 45px;
  }
}
